<% include partials/header %>
	<!--<nav class="navbar navbar-expand-lg bg-light">-->
	<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
		<!--<a class="navbar-brand" href="#">Hazelnuts</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
			</li>
				<li class="nav-item">
					<a class="nav-link" href="/faq">FAQ / What is Hazelnuts?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/copyright">Copyright</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Contact</a>
				</li>
			</ul>
		</div>
	</nav> -->
        <h1>Welcome to card-games!</h1>
        <p id="enableJS">Canvas and/or Javascript isn't enabled.  This website requires canvas and javascript.</p>
        <% include partials/chat %>
        <div id="gamesList">
            <div id="newGame" onKeyPress="createGame(event)">
                <label for="createGame">Game Name: </label>
                <input id="createGame" placeholder="Name of the game">
                <button onclick="createGame(0)">New Game</button>
            </div>
            <div id="joinGame"></div>
        </div>
<!--         <canvas id="canvas" hidden></canvas> -->
        <script src="/js/check.js"></script>
<!--         <a id="copyright" href="/copyright">Copyright</a>
        <a id="faq" href="/faq">What is HAZELNUTS?</a> -->
<% include partials/footer %>