<% include partials/header %>
<!--         <script src="/socket.io/socket.io.js"></script> -->
        <p id="enableJS">Canvas and/or Javascript isn't enabled.  This website requires canvas and javascript.</p>
        <% include partials/chat %>
        <div id="game">
                <canvas id="canvas" hidden></canvas>
        	<p>Your Cards: <br></p>
                <div id="cards">
                </div>
        </div>
        <script src="/js/game.js"></script>
        <script>
            hideChat();
        </script>
<% include partials/footer %>